Code/Ch07_Networking/7.1 Consuming WCF/7.1 ProductsDataViewer/Service References/ProductsDataSoapService/ProductsSoapService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ch07_Networking.Recipe7_1.ProductsDataSoapService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ch07_Networking.Recipe7_1.ProductsDataSoapService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductHeader">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductHeader" nillable="true" type="tns:ProductHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductHeader" nillable="true" type="tns:ArrayOfProductHeader" />
  <xs:complexType name="ProductHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="ListPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="SellEndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellStartDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductHeader" nillable="true" type="tns:ProductHeader" />
  <xs:complexType name="ProductDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DaysToManufacture" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="DiscontinuedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinishedGoodsFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MakeFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="ProductLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReorderPoint" nillable="true" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="SafetyStockLevel" nillable="true" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StandardCost" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Style" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDetail" nillable="true" type="tns:ProductDetail" />
</xs:schema>