Code/Ch07_Networking/7.1 Consuming WCF/7.1 ProductsDataViewer/Service References/ProductsDataSoapService/ProductsSoapService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9191/ProductsSoapService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ch07_Networking.Recipe7_1.ProductsDataSoapService" />
  <xs:element name="GetProductHeaders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductHeadersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ch07_Networking.Recipe7_1.ProductsDataSoapService" minOccurs="0" name="GetProductHeadersResult" nillable="true" type="q1:ArrayOfProductHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductHeaders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ch07_Networking.Recipe7_1.ProductsDataSoapService" minOccurs="0" name="Updates" nillable="true" type="q2:ArrayOfProductHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductHeadersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductId" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ch07_Networking.Recipe7_1.ProductsDataSoapService" minOccurs="0" name="GetProductDetailResult" nillable="true" type="q3:ProductDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ch07_Networking.Recipe7_1.ProductsDataSoapService" minOccurs="0" name="Update" nillable="true" type="q4:ProductDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductDetailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>