Code/Ch07_Networking/7.1 Consuming WCF/7.1 ProductsDataViewer/Service References/ProductsDataSoapService/ProductManager1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ProductManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9191/ProductsSoapService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9191/ProductsSoapService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9191/ProductsSoapService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ch07_Networking.Recipe7_1.ProductsDataSoapService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductManager_GetProductHeaders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductHeaders" />
  </wsdl:message>
  <wsdl:message name="IProductManager_GetProductHeaders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductHeadersResponse" />
  </wsdl:message>
  <wsdl:message name="IProductManager_UpdateProductHeaders_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductHeaders" />
  </wsdl:message>
  <wsdl:message name="IProductManager_UpdateProductHeaders_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductHeadersResponse" />
  </wsdl:message>
  <wsdl:message name="IProductManager_GetProductDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductDetail" />
  </wsdl:message>
  <wsdl:message name="IProductManager_GetProductDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IProductManager_UpdateProductDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductDetail" />
  </wsdl:message>
  <wsdl:message name="IProductManager_UpdateProductDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductManager">
    <wsdl:operation name="GetProductHeaders">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductManager/GetProductHeaders" message="tns:IProductManager_GetProductHeaders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductManager/GetProductHeadersResponse" message="tns:IProductManager_GetProductHeaders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProductHeaders">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductManager/UpdateProductHeaders" message="tns:IProductManager_UpdateProductHeaders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductManager/UpdateProductHeadersResponse" message="tns:IProductManager_UpdateProductHeaders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductManager/GetProductDetail" message="tns:IProductManager_GetProductDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductManager/GetProductDetailResponse" message="tns:IProductManager_GetProductDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProductDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductManager/UpdateProductDetail" message="tns:IProductManager_UpdateProductDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductManager/UpdateProductDetailResponse" message="tns:IProductManager_UpdateProductDetail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductManager" type="tns:IProductManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductHeaders">
      <soap:operation soapAction="http://tempuri.org/IProductManager/GetProductHeaders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductHeaders">
      <soap:operation soapAction="http://tempuri.org/IProductManager/UpdateProductHeaders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDetail">
      <soap:operation soapAction="http://tempuri.org/IProductManager/GetProductDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductDetail">
      <soap:operation soapAction="http://tempuri.org/IProductManager/UpdateProductDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductManager">
    <wsdl:port name="BasicHttpBinding_IProductManager" binding="tns:BasicHttpBinding_IProductManager">
      <soap:address location="http://localhost:9191/ProductsSoapService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>